<cascadingauthenticationstate>
    <router appassembly="@typeof(Program).Assembly">
        <found context="routeData">
            <authorizerouteview routedata="@routeData" defaultlayout="@typeof(MainLayout)">
                <notauthorized>
                       <redirecttologin></redirecttologin>
                </notauthorized>
            </authorizerouteview>
        </found>
        <notfound>
            <layoutview layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </layoutview>
        </notfound>
    </router>
</cascadingauthenticationstate>