@page "/fetchdata"

@inject HttpClient Http

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize()]

<h1>API call</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (responseText == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>@responseText</em></p>
}

@code {
    private string responseText;

    protected override async Task OnInitializedAsync()
    {
        responseText = await Http.GetFromJsonAsync<string>("/api/HelloSWA");
    }
}
