@page "/fetchdata"

@inject HttpClient Http

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize()]

<h1>API call</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (response.Message == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>@response.Message</em></p>
}

@code {
    private Response response;

    protected override async Task OnInitializedAsync()
    {
        response = await Http.GetFromJsonAsync<Response>("/api/HelloSWA");
    }

    public class Response
    {
        public string Message { get; set; }
    }
}
